@media screen and (min-width: 376px) {
  header > h3 {
    margin: auto;
    padding: 0.7% 0 0 20%;
    height: 60px;
    background-color: #1c448e;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  form {
    padding-left: 20%;
  }

  .edit-h1 {
    padding-left: 20%;
    font-family: "Poppins", sans-serif;
  }

  .form-col1 {
    display: inline-block;
    width: 49%;
  }

  .form-col1 > img {
    width: 80%;
    border: 2px solid black;
  }

  .form-col2 {
    position: relative;
    right: 7%;
    vertical-align: top;
    display: inline-block;
    width: 49%;
  }

  input,
  label {
    display: block;
    margin-bottom: 2%;
    font-family: "Poppins", sans-serif;
  }

  input {
    height: 47px;
    width: 400px;
    font-family: "PT Serif", serif;
    border: 2px solid black;
  }

  input:not(#location) {
    margin-bottom: 11%;
  }

  .bio {
    margin: 1% 0;
  }

  textarea {
    width: 68.3%;
    height: 90px;
    margin-bottom: 1%;
    border: 2px solid black;
  }

  .button-container {
    position: relative;
    left: 63.3%;
    width: 36%;
  }

  .button {
    border: 2px solid black;
    border-radius: 4px;
    width: 14%;
  }
}

@media screen and (max-width: 375px) {
  header > h3 {
    margin: auto;
    padding: 4% 0 0% 5%;
    height: 60px;
    background-color: #1c448e;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  form {
    padding-left: 5%;
  }

  .edit-h1 {
    padding-left: 5%;
    font-family: "Poppins", sans-serif;
  }

  .form-col1 > img {
    width: 96%;
    border: 2px solid black;
  }

  .form-col2 {
    vertical-align: top;
  }

  input,
  label {
    font-family: "Poppins", sans-serif;
  }

  input {
    height: 47px;
    width: 96%;
    margin-bottom: 4%;
    font-family: "PT Serif", serif;
    border: 2px solid black;
  }

  .bio {
    margin: 1% 0;
  }

  textarea {
    width: 96%;
    height: 90px;
    margin-bottom: 2%;
    border: 2px solid black;
  }

  .button-container {
    position: relative;
    left: 82.3%;
  }

  .button {
    border: 2px solid black;
    border-radius: 4px;
    width: 14%;
  }
}
