header > h1 {
  margin: auto;
  padding: 0.5% 0 0 20%;
  height: 60px;
  background-color: #1c448e;
  color: white;
  font-family: "Poppins", sans-serif;
}

form {
  padding-left: 20%;
}

.edit-h1 {
  padding-left: 20%;
  font-family: "Poppins", sans-serif;
}

.form-col1 {
  display: inline-block;
  width: 49%;
}

.form-col1 > img {
  width: 80%;
}

.form-col2 {
  position: relative;
  right: 7%;
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

input,
label {
  display: block;
  margin-bottom: 2%;
  font-family: "Poppins", sans-serif;
}

input {
  height: 47px;
  width: 400px;
  font-family: "PT Serif", serif;
}

input:not(#location) {
  margin-bottom: 11%;
}

.bio {
  margin: 1% 0;
}

textarea {
  width: 68.6%;
  height: 150px;
}
