body {
  background-color: #d6fff6;
}

@media screen and (max-width: 375px) {
  header {
    background-color: #1c448e;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  header > h3 {
    margin: auto;
    padding: 4% 4% 0% 5%;
    height: 60px;
    background-color: #1c448e;
    color: white;
    font-family: "Poppins", sans-serif;
    display: inline-block;
  }

  .profile-link {
    padding-right: 2%;
  }

  form {
    padding-left: 5%;
  }

  .edit-h1 {
    padding-left: 5%;
    font-family: "Poppins", sans-serif;
  }

  .form-col1 > img {
    width: 96%;
    border: 2px solid black;
  }

  input,
  label {
    font-family: "Poppins", sans-serif;
  }

  input {
    height: 47px;
    width: 96%;
    margin-bottom: 4%;
    font-family: "PT Serif", serif;
    border: 2px solid black;
  }

  textarea {
    width: 96%;
    height: 90px;
    margin-bottom: 2%;
    border: 2px solid black;
    font-family: "PT Serif", serif;
  }

  .button-container {
    position: relative;
    left: 82.3%;
  }

  .button {
    border: 2px solid black;
    border-radius: 4px;
    width: 14%;
  }

  .column-half:not(.profile-details) {
    padding-left: 5%;
    padding-bottom: 4%;
  }

  .img2 {
    width: 94%;
  }

  .detail-text {
    display: inline-block;
    position: relative;
    bottom: 18px;
    padding-left: 5px;
    font-family: "Poppins", sans-serif;
  }

  .bio-text {
    padding-left: 1%;
    padding-bottom: 4%;
    font-family: "PT Serif", serif;
  }

  .container {
    padding: 0 5% 3% 3%;
  }

  .button-link {
    border-radius: 6px;
    border: 2px solid black;
    background-color: #f2cc8f;
    color: black;
    font-family: "Poppins", sans-serif;
    margin-left: 1%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .entries-h1 {
    display: inline-block;
    margin-right: 44%;
  }
}

@media screen and (min-width: 376px) {
  header {
    background-color: #1c448e;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  header > h3 {
    margin: auto;
    padding: 0.7% 2% 0 20%;
    height: 60px;
    background-color: #1c448e;
    color: white;
    font-family: "Poppins", sans-serif;
    display: inline-block;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .profile-link {
    padding-right: 2%;
  }

  form {
    padding-left: 20%;
  }

  .edit-h1 {
    padding-left: 20%;
    font-family: "Poppins", sans-serif;
  }

  .form-col1 {
    display: inline-block;
    width: 49%;
  }

  .form-col1 > img {
    width: 80%;
    border: 2px solid black;
  }

  .form-col2 {
    position: relative;
    right: 7%;
    vertical-align: top;
    display: inline-block;
    width: 49%;
  }

  input,
  label {
    display: block;
    margin-bottom: 2%;
    font-family: "Poppins", sans-serif;
  }

  input {
    height: 47px;
    width: 400px;
    font-family: "PT Serif", serif;
    border: 2px solid black;
  }

  input:not(#location) {
    margin-bottom: 11%;
  }

  .bio {
    margin: 1% 0;
  }

  textarea {
    width: 68.3%;
    height: 90px;
    margin-bottom: 1%;
    border: 2px solid black;
    font-family: "PT Serif", serif;
  }

  .button-container {
    position: relative;
    left: 63.3%;
    width: 36%;
  }

  .button {
    border: 2px solid black;
    border-radius: 4px;
    width: 14%;
  }

  .column-half:not(.profile-details) {
    padding-left: 20%;
  }

  .img2 {
    width: 100%;
  }

  .detail-text {
    display: inline-block;
    position: relative;
    bottom: 18px;
    padding-left: 5px;
    font-family: "Poppins", sans-serif;
  }

  .bio-text {
    font-family: "PT Serif", serif;
    padding-bottom: 3%;
  }

  .container {
    padding-bottom: 1%;
  }

  .button-link {
    border: 2px solid black;
    border-radius: 6px;
    background-color: #f2cc8f;
    font-family: "Poppins", sans-serif;
  }

  #form2 {
    height: 761px;
  }

  .notes-container {
    position: relative;
    top: 315px;
    right: 649px;
  }

  #notes {
    width: 1056px;
  }

  .button-container2 {
    position: relative;
    left: 47.8%;
    top: 323px;
    width: 36%;
  }

  .entries-h1 {
    display: inline-block;
    margin-right: 40%;
  }

  .entry-img {
    width: 28%;
  }

  .entry-photo {
    padding-left: 18.5%;
  }
}
